html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #f2f3f4;
}

body {
    margin: 0
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.first_col {
    width: 200px;
}

.second_col {
    max-width: 800px;
}

.container-lg {
    min-width: 400px;
    max-width: 1012px;
    margin: 50px auto;
    padding: 0 10px;
}

.rsschool-cv {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.markdown-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

footer {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ebf2f2;
    margin-top: 30px;
}

footer a {
    color: #000;
}

footer img {
    height: 40px;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}